<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ApplicationKey" value="9B31281E8FB34A992876086FA57C9F695D6A5D5F81E2817A94487E691394878B"/>
    <add key="ApplicationSecret" value="E6FF366DC7F9D5B6A7E1F07C6066C039"/>
    
    <!--Time in minutes-->
    <add key="ServiceConnectionTimeout" value="10"/>

    <!--QA Environment-->
    <add key="PlatFormServiceBaseUri" value="https://phoenixqa.careworks.ie/PlatformServices"/>
    <add key="EnvironmentID" value="0B6B1AB7-6661-460F-9199-5F47D90F2ABD"/>
    <add key="Username" value="SecurityTestUserAdmin"/>
    <add key="Password" value="Passw0rd_!"/>
    <add key="RememberDetails" value="False"/>

  </appSettings>
  <connectionStrings>
    <add name="CareDirectorQA_CDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cduktest01;initial catalog=CareDirectorQA_CD;user id=automationtestuser;password=Passw0rd_!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>