<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="Logger.FilePath" value="C:\CareDirectorLogs\AutomationTests\log.txt" />
		<add key="Logger.RollingInterval" value="Day" />
		<add key="Logger.LogLevel" value="Error" />
		<add key="Logger.FileSizeLimitMegaBytes" value="50" />
		<add key="ApplicationKey" value="9B31281E8FB34A992876086FA57C9F695D6A5D5F81E2817A94487E691394878B" />
		<add key="ApplicationSecret" value="E6FF366DC7F9D5B6A7E1F07C6066C039" />

		<!--Time in minutes-->
		<add key="ServiceConnectionTimeout" value="10" />

		<add key="browser" value="Chrome" />
		<!--<add key="browser" value="Firefox" />-->


		<!--AWS Environment  care_providers_combined -->
		<add key="appURL" value="https://automationcareprovidercombined.advancedcarecloud.oneadvanced.io/" />
		<add key="EnvironmentName" value="Automation" />
		<add key="TenantName" value="automationcareprovidercombined" />
    <add key="Username" value="YWRtaW5pc3RyYXRvcg==" />
    <add key="Password" value="dEI4amVBe2tjQiMsUVZ4Tg==" />
		<add key="RememberDetails" value="False" />
		<add key="CareProvidersEnvironmentName" value="Automation" />
		<add key="CareProvidersTenantName" value="automationcareprovidercombined" />
		<add key="DataEncoded" value="true" />
		<add key="CareDirectorVersionNumber" value="6.4.15.00" />
		<add key="IgnoreEnvironmentInLoginPage" value="true" />
		<add key="SpecifyChromeBinaryLocation" value="false" />
		<add key="DefaultTimeoutSeconds" value="20" />
		<add key="ChromeBinaryLocation" value="C:\Program Files\Google\Chrome\Application\Chrome.exe" />
		<add key="UpdateStatusInZephyr" value="true" />
		<add key="RunTestsInHeadlessMode" value="true" />
    <add key="TakeScreenshotOnTestFailure" value="true" />
    <add key="ZoomOutBrowser" value="false" />
		<add key="ScreenshotFolderPath" value="c:\temp\Screenshots\" />
    <add key="DisableGpu" value="false" />
    <add key="NoSandbox" value="false" />
    <add key="DisableDevShmUsage" value="false" />

		<!--JIRA Settings-->
		<add key="Authentication" value="Basic am9zZS5icmF6ZXRhQG9uZWFkdmFuY2VkLmNvbTplSldaSDhMZjU0dUs1UWlaWHRpczRFOTE=" />
		<add key="JiraCloudUrl" value="https://advancedcsg.atlassian.net/" />
		<add key="ACCProjectKey" value="ACC" />
		<add key="ACCCurrentVersionName" value="6.4.15" />
		<add key="CDV6ProjectKey" value="CDV6" />
		<add key="CDV6CurrentVersionName" value="6.4.15" />
		<add key="CycleName" value="Automation_Regression_Testing_UI" />

		<!--ZEPHYR Settings-->
		<add key="AccessKey" value="amlyYToxNTAzMTExMyA1ZTczODgwYTNlNDY0OTBjMzgwMWNiOTUgVVNFUl9ERUZBVUxUX05BTUU" />
		<add key="SecretKey" value="dQWP7wYjw3yelZgZTfQKYVVMS1SAOfBsudChK8OVDqQ" />
		<add key="User" value="5e73880a3e46490c3801cb95" />

		<add key="FinanceExtractFilesUserName" value="careworksltd\jbsvc" />
		<add key="FinanceExtractFilesPassword" value="Passw0rd_!" />
		<add key="FinanceExtractFileNetworkPath" value="\\cduktest01\financeextracts" />
		<add key="FinanceExtractFileSearchPatters" value="extract*" />

		<add key="ProcessTransactionJobID" value="d5aa994b-2a5a-ea11-a2ca-0050569231cf" />
		<add key="ProcessInvoicesJobID" value="a1eb2f89-2a5a-ea11-a2ca-0050569231cf" />
		<add key="ProcessExtractsJobID" value="eb8a78bc-4185-ea11-a2ca-0050569231cf" />
		<add key="FinanceInvoiceBatchSetupId" value="2fc972c4-9c84-ea11-a2cd-005056926fe4" />
		<!--//Supplier Payments \ Planned Home Care - Schedule - Batching \ 01/01/1999-->

	</appSettings>
	<connectionStrings>
		<add name="CareDirectorQA_CDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cduktest01;initial catalog=CareDirectorQA_CD;user id=automationtestuser;password=Passw0rd_!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AWS.Logger.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>