<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ApplicationKey" value="9B31281E8FB34A992876086FA57C9F695D6A5D5F81E2817A94487E691394878B"/>
    <add key="ApplicationSecret" value="E6FF366DC7F9D5B6A7E1F07C6066C039"/>
    <!--Time in minutes-->
    <add key="ServiceConnectionTimeout" value="10"/>    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="CareDirectorCore_CDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CDUKDEVDB01;initial catalog=CareDirectorCore_CD;user id=devdba;password=DASSAULT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CareDirectorCore_CDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cduktest01;Initial Catalog=CareDirectorQA_CD;Integrated Security=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client>
      <!--<endpoint address="http://cdukapp01/CareDirector/platformservices/EnvironmentServiceInternal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnvironmentService"
        contract="EnvironmentService.IEnvironmentService" name="BasicHttpBinding_IEnvironmentService" />
      <endpoint address="http://cdukapp01/CareDirector/platformservices/SecurityServiceInternal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
        contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService" />
      <endpoint address="http://cdukapp01/CareDirector/platformservices/BusinessDataServiceInternal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusinessDataService"
        contract="BusinessDataService.IBusinessDataService" name="BasicHttpBinding_IBusinessDataService" />-->

      <!--<endpoint address="http://localhost:9000/PlatformServices/EnvironmentServiceInternal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnvironmentService"
        contract="EnvironmentService.IEnvironmentService" name="BasicHttpBinding_IEnvironmentService" />
      <endpoint address="http://localhost:9000/PlatformServices/SecurityServiceInternal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
        contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService" />
      <endpoint address="http://localhost:9000/PlatformServices/BusinessDataServiceInternal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusinessDataService"
        contract="BusinessDataService.IBusinessDataService" name="BasicHttpBinding_IBusinessDataService" />-->
      
      
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
