<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="Logger.FilePath" value="C:\CareDirectorLogs\AutomationTests\log.txt" />
    <add key="Logger.RollingInterval" value="Day" />
    <add key="Logger.LogLevel" value="Error" />
    <add key="Logger.FileSizeLimitMegaBytes" value="50" />
    <add key="ApplicationKey" value="9B31281E8FB34A992876086FA57C9F695D6A5D5F81E2817A94487E691394878B" />
    <add key="ApplicationSecret" value="E6FF366DC7F9D5B6A7E1F07C6066C039" />

    <!--Time in minutes-->
    <add key="ServiceConnectionTimeout" value="10" />

    <add key="appURL" value="https://automationcareprovidercombined.advancedcarecloud.oneadvanced.io/" />
    <add key="TenantName" value="automationcareprovidercombined" />
    <add key="Username" value="jose" />
    <add key="Password" value="Passw0rd_!" />
    <add key="RememberDetails" value="False" />
    <add key="DataEncoded" value="false" />
    <add key="DefaultTimeoutSeconds" value="20" />
    <add key="UpdateStatusInZephyr" value="true" />

    <!--API Settings-->
    <add key="IntegrationApiUrl" value="https://integration-api-qa.advancedcarecloud.oneadvanced.io/" />
    <add key="client_id" value="83596E22E0A2467596F619651586FE20EA95F708FBAD44DEBFBDFABF10D67448" />
    <add key="client_secret" value="UXKq8Xv}Ly-wP0_9eD#" />

    <!--JIRA Settings-->
    <add key="Authentication" value="Basic am9zZS5icmF6ZXRhQG9uZWFkdmFuY2VkLmNvbTplSldaSDhMZjU0dUs1UWlaWHRpczRFOTE=" />
    <add key="JiraCloudUrl" value="https://advancedcsg.atlassian.net/" />
    <add key="ACCProjectKey" value="ACC" />
    <add key="ACCCurrentVersionName" value="6.4.14" />
    <add key="CDV6ProjectKey" value="CDV6" />
    <add key="CDV6CurrentVersionName" value="6.4.14" />
    <add key="CycleName" value="Automation_Regression_Testing_UI" />

    <!--ZEPHYR Settings-->
    <add key="AccessKey" value="amlyYToxNTAzMTExMyA1ZTczODgwYTNlNDY0OTBjMzgwMWNiOTUgVVNFUl9ERUZBVUxUX05BTUU" />
    <add key="SecretKey" value="dQWP7wYjw3yelZgZTfQKYVVMS1SAOfBsudChK8OVDqQ" />
    <add key="User" value="5e73880a3e46490c3801cb95" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWS.Logger.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>