<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="IgnoreTestFixtureSetUp" value="false" />
		<add key="IgnoreSetUp" value="false" />
		<add key="IgnoreBaseClassTestCasesInitialization" value="false" />
		<add key="SaveLogToFile" value="false" />
		<add key="LogPath" value="C:\Users\voina\Documents\Careworks\V6 Test Names\" />

		<add key="ApkFileLocation" value="C:\CareCloudAPK\com.oneadvanced.carecloud.apk" />

		<add key="DeviceSerial" value="emulator-5554" />

		<!--<add key="ServiceEndpointURL" value="https://automationdomiciliary.advancedcarecloud.oneadvanced.io"/>-->
		<add key="ServiceEndpointURL" value="https://automationresidential.advancedcarecloud.oneadvanced.io/" />
		<!--<add key="appKey" value="9B31281E8FB34A992876086FA57C9F695D6A5D5F81E2817A94487E691394878B" />-->
		<add key="appSecret" value="E6FF366DC7F9D5B6A7E1F07C6066C039" />
		<add key="environmentID" value="5d548b87-80f8-eb11-a327-005056926fe4" />

		<add key="appURL" value="https://automationdomiciliary.advancedcarecloud.oneadvanced.io/" />
		<add key="EnvironmentName" value="Automation" />
		<add key="TenantName" value="automationresidential" />
		<add key="Username" value="YWRtaW5pc3RyYXRvcg==" />
		<add key="Password" value="VzNsYzBtM0AxMjNJbmRpYUAyMDI3" />
		<add key="RememberDetails" value="False" />
		<add key="CareProvidersEnvironmentName" value="Automation" />
		<add key="CareProvidersTenantName" value="automationresidential" />
		<add key="DataEncoded" value="true" />
		<add key="ServiceConnectionTimeout" value="10" />


		<!--JIRA Settings-->
		<add key="Authentication" value="Basic am9zZS5icmF6ZXRhQG9uZWFkdmFuY2VkLmNvbTplSldaSDhMZjU0dUs1UWlaWHRpczRFOTE=" />
		<add key="JiraCloudUrl" value="https://advancedcsg.atlassian.net/" />
		<add key="ProjectKey" value="ACC" />
		<add key="CurrentVersionName" value="6.4.14" />

		<!--ZEPHYR Settings-->
		<add key="AccessKey" value="amlyYToxNTAzMTExMyA1ZTczODgwYTNlNDY0OTBjMzgwMWNiOTUgVVNFUl9ERUZBVUxUX05BTUU" />
		<add key="SecretKey" value="dQWP7wYjw3yelZgZTfQKYVVMS1SAOfBsudChK8OVDqQ" />
		<add key="User" value="5e73880a3e46490c3801cb95" />

	</appSettings>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!--<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:d="http://xamarin.com/schemas/2014/forms/design"
             xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
             mc:Ignorable="d"
             xmlns:controls="clr-namespace:XamWebView"
             x:Class="XamWebView.MainPage">

		<controls:CustomWebView x:Name="webView" HorizontalOptions="FillAndExpand" VerticalOptions="FillAndExpand">

		</controls:CustomWebView>

	</ContentPage>-->


</configuration>