<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--QA Environment-->
    <add key="appURL" value="https://phoenixqa.careworks.ie" />
    <add key="client_id" value="DF889580A9104EE8AE0751982A5DCAC5803127D479E94F21935588DBBFFB6D44|0B6B1AB7-6661-460F-9199-5F47D90F2ABD" />
    <add key="client_secret" value="Passw0rd_!" />
    
    <!--QA Environment - DB Helper -->    
    <add key="Username" value="YWRtaW5pc3RyYXRvcg==" />
    <add key="Password" value="dEI4amVBe2tjQiMsUVZ4Tg==" />
    <add key="DataEncoded" value="true" />
    <add key="EnvironmentID" value="0b6b1ab7-6661-460f-9199-5f47d90f2abd" />
    <add key="TenantName" value="caredirectorqa" />


    <!--JIRA Settings-->
    <add key="Authentication" value="Basic am9zZS5icmF6ZXRhQG9uZWFkdmFuY2VkLmNvbTplSldaSDhMZjU0dUs1UWlaWHRpczRFOTE=" />
    <add key="JiraCloudUrl" value="https://advancedcsg.atlassian.net/" />
    <add key="ProjectKey" value="CDV6" />
    <add key="CurrentVersionName" value="6.2.11" />

    <!--ZEPHYR Settings-->
    <add key="AccessKey" value="amlyYToxNTAzMTExMyA1ZTczODgwYTNlNDY0OTBjMzgwMWNiOTUgVVNFUl9ERUZBVUxUX05BTUU" />
    <add key="SecretKey" value="dQWP7wYjw3yelZgZTfQKYVVMS1SAOfBsudChK8OVDqQ" />
    <add key="User" value="5e73880a3e46490c3801cb95" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>